.Timer{
    position: absolute;
    text-align: center;
    padding: 0;
    margin: 0;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    width: 450px;
    height: 450px;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 650px;
    
}

.TimerTime{
    position: absolute;
    text-align: center;
    padding: 0;
    margin: 0;
    left: 50%;
    top: 23%;
    transform: translate(-50%);
    width: 350px;
    height: 150px;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 30px;
    list-style: none;

}


.twop{
    color: white;
    float: left;
    margin-top: 50px;
}


.timeInput{
    width: 80px;
    height: 50px;
    float: left;
    margin: 12px;
    margin-top: 45px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #272727 ;
    color: white;
    font-size: 43px;
    align-items: center;
}


button{
    margin-top: 300px;
    width: 100px;
    border: 1px white solid;
    border-radius: 15px;
    height: 45px;
    background-color: #272727;
    color: white;
}



#scd{
   margin-left: 40px; 
}